{% extends "Shop/base.html" %}
{% load static %}
{% block main-contact %} 
<section id="billboard" class="position-relative overflow-hidden bg-light-blue">
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex align-items-center">
              <div class="col-md-6">
                <div class="banner-content">
                  <h1 class="display-2 text-uppercase text-dark pb-5">Your Products Are Great.</h1>
                  <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-holder">
                  <img src="{% static 'images/banner-image.png' %}" alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
              <div class="col-md-6">
                <div class="banner-content">
                  <h1 class="display-2 text-uppercase text-dark pb-5">Technology Hack You Won't Get</h1>
                  <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Product</a>
                </div>
              </div>
              <div class="col-md-5">
                <div class="image-holder">
                  <img src="{% static 'images/banner-image.png' %}" alt="banner">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
      <svg class="chevron-left">
        <use xlink:href="#chevron-left" />
      </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
      <svg class="chevron-right">
        <use xlink:href="#chevron-right" />
      </svg>
    </div>
  </section>
  <section id="mobile-products" class="product-store position-relative padding-large no-padding-top">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Analog watch</h2>
          <!-- <div class="btn-right">
            <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div> -->
        </div>
        <div class="swiper product-swiper">
          <div class="swiper-wrapper">
            {% for a in Analogwatch %}
            <div class="swiper-slide">
              <div class="product-card position-relative">
                

                <div class="image-holder">
                  <a href="{% url 'product_detail' %}"><img src="{{a.product_image.url}}" alt="product-item" class="img-fluid"></a>
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">{{a.title}}</a>
                  </h3>
                  <span class="item-price text-primary">${{a.discounted_price}}</span>
                </div>
               
              </div>
              
            </div>
             {% endfor %}

          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <section id="smart-watches" class="product-store padding-large position-relative">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Smart Watche</h2>
          <!-- <div class="btn-right">
            <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div> -->
        </div>
        <div class="swiper product-watch-swiper">
          <div class="swiper-wrapper">
            {% for s in Smartwatch %}
            <div class="swiper-slide">
              <div class="product-card position-relative">
                
                <div class="image-holder">
                  <a href="{% url 'product_detail' %}"><img src="{{s.product_image.url}}" alt="product-item" class="img-fluid"></a>
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">{{s.title}}</a>
                  </h3>
                  <span class="item-price text-primary">${{s.discounted_price}}</span>
                </div>
               
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <section id="smart-watches" class="product-store padding-large position-relative">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Wall clock</h2>
          <!-- <div class="btn-right">
            <a href="#" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div> -->
        </div>
        <div class="swiper product-watch-swiper">
          <div class="swiper-wrapper">
            {% for w in Wallclock %}
            <div class="swiper-slide">
              <div class="product-card position-relative">
                
                <div class="image-holder">
                  <a href="{% url 'product_detail' %}"><img src="{{w.product_image.url}}" alt="product-item" class="img-fluid"></a>
                  
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">{{w.title}}</a>
                  </h3>
                  <span class="item-price text-primary">${{w.discounted_price}}</span>
                </div>
               
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <section id="smart-watches" class="product-store padding-large position-relative">
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3">
          <h2 class="display-7 text-dark text-uppercase">Table clock</h2>
          <!-- <div class="btn-right">
            <a href="#" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div> -->
        </div>
        <div class="swiper product-watch-swiper">
          <div class="swiper-wrapper">
            {% for t in Tableclock %}
            <div class="swiper-slide">
              <div class="product-card position-relative">
                
                <div class="image-holder">
                  <a href="{% url 'product_detail' %}"><img src="{{t.product_image.url}}" alt="product-item" class="img-fluid"></a>
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">{{t.title}}</a>
                  </h3>
                  <span class="item-price text-primary">${{t.discounted_price}}</span>
                </div>
               
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
  </section>
  <section id="yearly-sale" class="bg-light-blue overflow-hidden mt-5 padding-xlarge" style="background-image: url('images/single-image1.png');background-position: right; background-repeat: no-repeat;">
    <div class="row d-flex flex-wrap align-items-center">
      <div class="col-md-6 col-sm-12">
        <div class="text-content offset-4 padding-medium">
          <h3>10% off</h3>
          <h2 class="display-2 pb-5 text-uppercase text-dark">New year sale</h2>
          <a href="#" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">Shop Sale</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        
      </div>
    </div>
  </section>
  
  <section id="instagram" class="padding-large overflow-hidden no-padding-top">
    <div class="container">
      <div class="row">
        <div class="display-header text-uppercase text-dark text-center pb-3">
          <h2 class="display-7">Shop Our Insta</h2>
        </div>
        <div class="d-flex flex-wrap justify-content-center">
          <figure class="instagram-item pe-2">
            <a  class="image-link position-relative">
              <img src="{% static 'images/analog.webp' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure> 
          <figure class="instagram-item pe-2">
            <a  class="image-link position-relative">
              <img src="{% static 'images/insta-item2.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a class="image-link position-relative">
              <img src="{% static 'images/images.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          <figure class="instagram-item pe-2">
            <a class="image-link position-relative">
              <img src="{% static 'images/clock.jpg' %}" alt="instagram" class="insta-image">
              <div class="icon-overlay position-absolute d-flex justify-content-center">
                <svg class="instagram">
                  <use xlink:href="#instagram"></use>
                </svg>
              </div>
            </a>
          </figure>
          
        </div>
      </div>
    </div>
  </section>




{% endblock main-contact %}